:root {
    --white: #FFFFFF;
    --green: #7AB55C;
    --grey: #7B7B7B;
    --purple-light: #5c6ac4;
    --purple-light-highlight: #3d47db;
    --purple-dark: #000639;
    --red: #C23628;
    --main-font: helvetica;
}

#body{
    background-color: var(--purple-dark);
}

#title_container{
    margin-top:75px;
    width:520px;
    margin-left:auto;
    margin-right:auto;
}

#title_container a{
    text-decoration:none;
}

#title_text{
    position:relative;
    font-family: var(--main-font);
    color: var(--white);
    font-size:24px;
    width:450px
}

#sub_text{
    color: var(--white);
    font-family: var(--main-font);
    margin-top:40px;
    font-size:16px;
    font-weight:500;
}

#highlight{
    position:relative;
    background-color: var(--green);
    height:3px;
    width:30px;
    margin-top:13px;
}

#email_div{
    background-color: var(--white);
    height:50px;
    width:60%;
    float: left;
    border-radius:7px;
}

#interest_div{
    background-color: var(--white);
    height:50px;
    float: right;
    width:37%;
    border-radius:7px;
}

#form_holder{
    height:50px;
    margin-top:30px;
    margin-bottom:0px;
}

#warning{
    color: var(--red);
    font-family: var(--main-font);
    margin-top:7px;
}

#email_div{
    display: flex;
    justify-content: center;
    align-items:center;
}

#email {
    position: relative;
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--grey);
    outline: none;
    width:90%;
    border-width:0px;
    display: block;
    margin : auto;
}

#email:focus{
     box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

#line{
    float: right;
    position: absolute;
    z-index: 1000;
    background-color: var(--grey);
    width: 1.5px;
    margin-top:15px;
    margin-left: 50px;
    height: 20px;
}

#interest_div{
    display: flex;
    justify-content: center;
}

#interest{
    color: var(--grey);
    font-family: var(--main-font);
    font-size: 16px;
    outline: none;
    border-width: 0px;
    width:90%;
    
}

#signup_div{
    height:50px;
    width:100%;
    background-color: var(--purple-light);
    border-radius:7px;
    display: table;
}

#signup_div:hover{
    background-color: var(--purple-light-highlight);
}

#signup_text{
    font-size:16px;
    font-weight:bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    font-family: var(--main-font);
    color: var(--white);
}

#unsubscribe{
    position:absolute;
    text-decoration:underline;
    color: var(--white);
    font-family: var(--main-font);
    margin-bottom:10px;
    font-weight:bold;
    font-size:12px;
    position:absolute;
    bottom: 0px;
    text-align:center;
    width:100%;
}