
#body{
    background-color: #000639;
}

#title_container{
    margin-top:75px;
    width:520px;
    margin-left:auto;
    margin-right:auto;
}

#title_container a{
    text-decoration:none;
}

#title_text{
    position:relative;
    font-family: helvetica;
    color: #FFFFFF;
    font-size:24px;
    width:450px
}

#sub_text{
    color: #FFFFFF;
    font-family: helvetica;
    margin-top:40px;
    font-size:16px;
    font-weight:500;
}

#highlight{
    position:relative;
    background-color: #7AB55C;
    height:3px;
    width:30px;
    margin-top:13px;
}

#email_div{
    background-color: #FFFFFF;
    height:50px;
    width:60%;
    float: left;
    border-radius:7px;
}

#interest_div{
    background-color: #FFFFFF;
    height:50px;
    float: right;
    width:37%;
    border-radius:7px;
}

#form_holder{
    height:50px;
    margin-top:30px;
    margin-bottom:0px;
}

#warning{
    color: #C23628;
    font-family: helvetica;
    margin-top:7px;
}

#email_div{
    display: flex;
    justify-content: center;
    align-items:center;
}

#email {
    position: relative;
    font-family: helvetica;
    font-size: 16px;
    color: #7B7B7B;
    outline: none;
    width:90%;
    border-width:0px;
    display: block;
    margin : auto;
}

#email:focus{
     box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

#line{
    float: right;
    position: absolute;
    z-index: 1000;
    background-color: #7B7B7B;
    width: 1px;
    margin-top:15px;
    margin-left: 475px;
    height: 20px;
}

#interest_div{
    display: flex;
    justify-content: center;
}

#interest{
    color: #7B7B7B;
    background-color: #FFFFFF;
    font-family: helvetica;
    font-size: 16px;
    outline: none;
    border-width: 0px;
    width:90%;
    -moz-appearance: none;
    
}

#interest::-ms-expand{
    background-color: #FFFFFF;
    border-width: 0px;
    color: #7B7B7B;
}

#signup_div{
    height:50px;
    width:100%;
    background-color: #5c6ac4;
    border-radius:7px;
    display: table;
}

#signup_div:hover{
    background-color: #3d47db;
}

#signup_text{
    font-size:16px;
    font-weight:bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    font-family: helvetica;
    color: #FFFFFF;
}

#unsubscribe{
    position:absolute;
    text-decoration:underline;
    color: #FFFFFF;
    font-family: helvetica;
    margin-bottom:10px;
    font-weight:bold;
    font-size:12px;
    position:absolute;
    bottom: 0px;
    text-align:center;
    width:100%;
}